html {
    font-size: 100%;
}

body {
    font-family: Georgia, serif;
    line-height: 1.75;
}

h1 {
    font: 400 2.5rem "Julius Sans One", Verdana, sans-serif;
    color: olivedrab;
    text-shadow: .1em .1em .05em gainsboro;
}

h1, h2, #info {
    text-align: center;
}

h2 {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .5em;
    color: cadetblue;
}

h2 + p {
    text-align: center;
    font-style: italic;
}

dt {
    font-weight: bold;
    color: olivedrab;
}

strong {
    font-style: italic;
}

dt strong {
    color: tomato;
}

#info {
    color: cadetblue;
}

#info p {
    font-style: italic;
}

.price {
    font-style: italic;
    color: gray;
}

.label {
    font-variant: small-caps;
    font-style: normal;
}

p.warning, sup {
    font-size: small;
    color: tomato;
}